html, body {
    height: 100%;
    width: 100%;
}

.title-image {
    background-image: url("grafika-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
} 

